.add_plate{
    max-width: 800px;
    margin-block: 1em;
    margin-inline: auto;
    padding-inline: 1em;
}

.add_plate .order{
    display: grid;
}

.add_plate .order-title{
    text-align: center;
    font-family: var(--ff-main);
}

.add_plate .step{
    transform: scaleX(0);
    opacity: 0;
    height: 0;
    transition: transform 750ms ease-in-out;
}

.add_plate .fade{
    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;
    z-index: 100;
    transition: transform 750ms ease-in-out, opacity 250ms 500ms, height 0ms 750ms;
}

.add_plate .active{
    transform: scaleX(1);
    opacity: 1;
    height: auto;
    transform-origin: right;   
}
