.menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

.menu .menu__title{
    font-family: var(--ff-main);
    flex: 1 0 100%;
    text-align: center;
}

.menu .plates{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25em 1em;
    padding-inline: 1.25em;
    justify-content: center;
}

.menu .plates-title{
    text-align: center;
    font-family: var(--ff-main);
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    flex-basis: 100%;
}