.orders .orders__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;
    gap: 1em;
}

.orders .orders-title{
    font-family: var(--ff-main);
    text-align: center;
    margin-block-start: 0.25em;
}