.plate__detail{
    display: grid;
    grid-template-columns: 5.5em 18ch 12ch;
    grid-template-rows: 3em repeat(2, 1.25em);
    grid-template-areas: 
    'img name .'
    'img price btn'
    'img quantity btn';
    gap: 0.25em 0.5em;
    align-items: center;
}

.plate-image{
    grid-area: img;
    max-width: 100%;
    border-radius: 2em;
}

.plate-name{
    font-family: var(--ff-main);
    margin: 0;
    grid-area: name;
    align-self: flex-end;
}

.plate-price,
.plate-quantity,
.plate-update{
    font-family: var(--ff-alter);
}

.plate-price{
    margin: 0;
    grid-area: price;
    text-transform: uppercase;
}

.plate-quantity{
    grid-area: quantity;
    margin: 0;
}

.plate-update{
    grid-area: btn;
    width: 85%;
    height: 85%;
    align-self: center;
    justify-self: center;
    border: none;
    border-radius: 2em;
    color: var(--clr-primary-200);
    background-color: var(--bg-primary-800);
}